@media(max-width:768px){

  .menu-toggle{
    display:flex;
  }

  .nav{
    position:fixed;
    top:0;
    right:-100%;
    width:260px;
    height:100vh;
    background:white;
    padding:80px 20px;
    transition:.3s;
    z-index: 1000;
  }

  .nav.active{
    right:0;
  }

  .nav__list{
    flex-direction:column;
    gap:20px;
  }

  .header{
    position:sticky;
    top:0;
    background:white;
    z-index:1000;
  }

}
